@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius-sm: 6px;
    --radius-md: 8px;
  }
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    @apply border-slate-200;
  }
}